<table class="section-container">
  <tr class="section-group">
    <td class="section-name section-name-title">Title</td>
    <td class="section-content section-content-title">Pork in vindaloo sauce</td>
  </tr>
  <tr class="section-group">
    <td class="section-name section-name-link">Link</td>
    <td class="section-content section-content-link">
      <a href="https://www.youtube.com/watch?v=dM8StL3nHi0">https://www.youtube.com/watch?v=dM8StL3nHi0</a>
    </td>
  </tr>
  <tr class="section-group">
    <td class="section-name section-name-portions">Portions</td>
    <td class="section-content section-content-portions">3 portions</td>
  </tr>
  <tr class="section-group">
    <td class="section-name section-name-photo"></td>
    <td class="section-content section-content-photo">
      <img alt="Recipe image" src="assets/recipes/7bc8aee8-fdca-4c90-b944-5682801bde0b.png">
    </td>
  </tr>
  <tr class="section-group">
    <td class="section-name section-name-ingredients">Ingredients</td>
    <td class="section-content section-content-ingredients">
      <p>Spices:</p>
      <ol class="ingredient-list">
        <li class="ingredient-element">
          <span class="ingredient-name">Dried kashmiri chillies</span>
          <span class="ingredient-amount">- 8 pieces</span>
        </li>
        <li class="ingredient-element">
          <span class="ingredient-name">Black pepper</span>
          <span class="ingredient-amount">- 4 seeds</span>
        </li>
      </ol>
      <p>Other:</p>
      <ol class="ingredient-list">
        <li class="ingredient-element">
          <span class="ingredient-name">Pork shoulder</span>
          <span class="ingredient-amount">- 1 kg</span>
        </li>
      </ol>
    </td>
  </tr>
  <tr class="section-group">
    <td class="section-name section-name-instructions">Instructions</td>
    <td class="section-content section-content-instructions">
      <ol>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
      </ol>
    </td>
  </tr>
</table>
